@import "tailwindcss";
@import "./design.css";

*{
    scroll-behavior: smooth;
}

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}